include ../../components/social-line/social-line

section#footer-social.footer-social
    .container
        .social
            ._icons
                +socialLine({class: 'social-icon', name: 'evernote', link: '#', height: '40px'}, {class: 'social-icon', name: 'facebook', link: '#', height: '40px'}, {class: 'social-icon', name: 'pinterest', link: '#', height: '40px'}, {class: 'social-icon', name: 'twitter', link: '#', height: '40px'}, {class: 'social-icon', name: 'youtube', link: '#', height: '40px'}, {class: 'social-icon', name: 'github', link: '#', height: '40px'})
            ._copyright
                p &copy; Parrot Wings