input {
  border: 1px solid #c0c0c0;
  background-color: #eeeeee;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  color: #000;

  &.search {
    padding: 0 36px 0 10px;
    margin-left: -46px;
    font-size: 14px;
  }

  &.inputField {
    padding: 5px 15px;
    font-size: 16px;
  }

  &::placeholder {
    color: #a3a3a3;
  }

  &:focus, &:active {
    outline: none;
  }
}

.searchField {
  background: url('../img/icon-search.png') no-repeat center / cover;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

  input {

    &.search {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 480px) {

}