extends layouts/default
block variables
	- var title = "Test for Sharp Developers"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/content/content
	include ../blocks/modules/footer-social/footer-social
	include ../blocks/modules/footer/footer