h2 {
  font-size: 26px;
  text-align: left;
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 375px) {

  h2 {
    font-size: 24px;
    text-align: left;
  }
}