mixin browserCompatible()
    .browserCompatible
        img(src="./img/icon-browsers.png")
        p Project should work on next stack: IE11, actual version of Firefox, Chrome on desktop and android, Opera (opera mini), Safari on mac and ios.